[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
googlemaps = "*"
google-cloud-firestore = "*"
python-telegram-bot = "*"
rope = "*"
pylint = "*"
numpy = "*"
pytest = "*"
mock = "*"
pytest-cov = "*"
pyyaml = "*"
cffi = "*"

[requires]
python_version = "3.7"
